
<script>

</script>
<div id="main_content">
	<div id="left_content">
		<h2>Measuring Amsterdam</h2>
        <p>With Measuring Amsterdam we developed a method for participatory open data collection through an web-application. This method can be used by citizens to gather data with their own mobile phone and provide a first citizen empowerment tool for these citizens. By publishing the collected data as open data, developers can create visualizations or applications to provide new insights.<p>
        <iframe id="playerview" width="890" height="480" src="http://www.youtube.com/embed/JkUDlCtR5sA" frameborder="0" allowfullscreen></iframe>
       
    </div><!--end of left content-->

    	
	<div style=" clear:both;"></div>

</div><!--end of right content-->
   <!--end of main content-->


         

