<html>
<head>
<title>Map overview</title>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<!--<script src="./javascripts/markerclusterer_compiled.js"></script>-->

<link rel="stylesheet" href="stylesheets/iThing.css" type="text/css" />
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />


</head>
<body>
	<div id="header">
		<p>Tijdens Students in Motion 2015 is bijgehouden vanaf welke locaties de Students in Motions website wordt bezocht. Via onderstaande slider kan een tijdspanne worden gekozen om het verloop van de bezoeken te kunnen zien. Via de pijltjes kan daarnaast door de tijd gescrolld worden. </p>
		<div id="slider"></div>
	</div>
	<div id="map-canvas" style=""></div>
	
	 <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/jquery-ui.js"></script>
    <script src="./javascripts/jQDateRangeSlider-min.js"></script>
	<script src="./javascripts/script.js"></script>

</body>
</html>

