<div id="map-bg" homemap>

</div>
<div class="container-fluid flexHome">
  <div class="rowHomeFlex">
  <div class="row">
    <div class="col-md-12">
      <p>
        <img class="logo" src="images/logo.svg" height="auto" />
      </p>
    </div>
  </div>
</div>
  <div class="rowHomeFlex">
  <div class="row desc">
    <div class="col-md-5 col-md-offset-1">
      <p class="prdesc">
        The GOGOGO project was a data sprint that was held from 12 - 26 November 2016 in Amsterdam. The aim was to log customer journeys of people on the Knowledge Mile: the area that runs from the Nieuwmarkt to the Amstel train station. The data sprint was organized by the Citizen Data Lab, in collaboration with the Media Information and Communication programme of the Amsterdam University of Applied Sciences, Calibro (IT), and Dutch Railways (NS). 300+ students participated to collect over 206 routes, more than 94,000 unique data entries and over 98 hours of logged route data.
      </p>
      <a href="#!/explore" class="homeExplore btn btn-default btn-lg" role="button">
        explorer
      </a>
      <a href="#!/report" class="homeExplore btn btn-default btn-lg" role="button">
        reports
      </a>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <div class="row">
        <div class="col-md-6 datapoints">
          <h2>300</h2>
          <p>
            students
          </p>
        </div>
        <div class="col-md-6 datapoints">
          <h2>206</h2>
          <p>
            routes
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 datapoints">
          <h2>98</h2>
          <p>
            hours
          </p>
        </div>
        <div class="col-md-6 datapoints">
          <h2>94k</h2>
          <p>
            data points
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="credits clearfix">
            <div class="author pull-left">
              <p>
                a project by
              </p>
              <a href="http://www.citizendatalab.org/" target="_blank">
                <img src="images/cdl.svg"/>
              </a>
            </div>
            <div class="author pull-left">
              <p>
                designed by
              </p>
              <a href="http://calib.ro" target="_blank">
                <img src="images/calibro.svg"/>
              </a>
            </div>
            <div class="author pull-left">
              <p>
                in collaboration with
              </p>
              <a href="http://www.amsterdamcreativeindustries.com/" target="_blank">
                <img src="images/ACICE.png" width="78" height="auto"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    </div>
</div>
